.footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.redes-area{
    width: 25%;
    height: 100%; 
    margin-top: 15px; 
    margin-bottom: 15px;
       
}

.redes{
    display: flex;
    justify-content: space-around;
}

.redes li{
    list-style: none;
    font-size: 18px;
    color: lightgray;
    cursor: pointer;
    
}

.texto{

    padding-top: 20px;
    padding-left: 25px;
    margin-top: 15px; 
    margin-bottom: 15px;
}

.endereco{
    width: 25%;
    margin-top: 15px; 
    margin-bottom: 15px;
    margin-left: 35px;
}

