.header{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    
}

.menu-area{
    width: 40%;
    height: 100%;  
       
}

.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.menu li a{
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    color: lightgray;
    cursor: pointer;
    
}

.menu li a:hover{
    list-style: none;
    color: lightskyblue;
}

.menu li a:visited{
    list-style: none;
    color: purple;
    text-decoration: underline, 1px, solid, purple;
    
}

.logo{
    width: 30%;
    height: 30%;
}

.logo-area{
    width: 20%;
    height: 100%;
    margin-top: 10px;
    margin-left: 30px;
}