.header{
    background-color: #111;
    display: flex;
    justify-content: space-between;  
}

.menu-area{
    width: 40%;
    height: 100%;        
}

.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.menu li{
    list-style-type: none;
    
}

.menu li a{
    font-size: 24px;
    color: lightgray;
    cursor: pointer;  
}

.menu li a:hover{
     color: lightskyblue;
}

.menu li a:visited{
    color: purple;    
}

.logo{
    width: 52px;
    height: 57px;
}

.logo-area{
    width: 20%;
    height: 100%;
    margin-top: 10px;
    margin-left: 30px;
}